* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

form, div {
    width: 20%;
    min-width: 350px;
    background: white;
    margin: 100px auto;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px,
        rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px,
        rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}


h1{
    background: linear-gradient(90deg, #020024c1 0%, rgb(33, 33, 132) 1%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
}

input,textarea{
    background: none;
    display: block;
    border-radius: 5px;
    margin: 20px auto;
    padding-left: 20px;
    height: 3vh;
    min-width: 250px;
    width: 20%;
}

textarea{
    height: 25vh;
    padding-top: 10px;
    min-width: 250px;
    width: 20%;
}

button{
    background: linear-gradient(90deg, #0200242a 0%, rgb(33, 33, 132) 1%, rgba(0, 212, 255, 1) 100%);
    width: 5vw;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    width: 20%;
}

button:active{opacity: 0.5;}